{% load static %}
<html lang="en">
    <head>
    	<meta charset=utf-8>
    	<meta name=viewport content="width=device-width, initial-scale=1">
	    <title>Prototype USer Login</title>
		
		<link rel="stylesheet"  type="type/css" href="{% static 'css/register.css' %}" />
    </head>
    
    <body>
    	<div class="container">
    		<div class="signup">
    			<form method="POST" action="">
                    {%csrf_token%}
    				<h1>Sign Up</h1>
    				<label>Full Name:</label><br>
    				<input type="text " name="username" placeholder="Input Username"><br>

    				<label>Password:</label><br>
    				<input type="password" name="password" placeholder="input your password"> <br>
                    <p>Do not have an account <a href="{% url 'registerPage' %}">Register</a> </p>

    				<input type="submit" value="SignUp">
    			</form>
    		</div>

    		<div class="info">

    			<div class="text">
    				<h1> Make your dream come true</h1>
    				<p>« I am a web designer. I conceive websites and my mission is to ensure optimal user experience with websites. i constantl work on different project. indeed, website desing is an ever-evolving field so you never dwell on the same projet for too long.»</p>
    			</div>
    		</div>
    	</div>
    <style>

    </style>
    </body>
</html>