
<div class="contain">
    <div class="logo">
        <h3>Quick Service</h3>
    </div>
    <div class="navs">
            <a href="#">Home</a>
            <a href="#">Schedules</a>
            <a href="#">Notifications</a>
            <a href="#"> Logout</a>
    </div>
</div>
<style>
    
    .contain{
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: rgb(21,32,43);
        height: 10vh;
    }
    .logo{
        color: #ffff;
        font-size: 2rem;
        width: 100%;
    }
    .navs{
        width: 100%;
        margin: 10px 30%;
        position: relative;
    }
    .navs a{
        color: aqua;
        text-decoration: none;
        margin: 15px;
    }
</style>
